<% content_for :main_content do %>
    <h1>Listing Unassigned Photos</h1>
    
    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        
        <% @unassigneds.each do |unassigned| %>
        <tr>
            <td><%= image_tag(unassigned.file.url(:thumb)) %></td>
            <td><%= link_to 'Show', unassigned_path(unassigned) %></td>
            <td><%= link_to 'Edit', edit_unassigned_path(unassigned) %></td>
            <td><%= link_to 'Destroy', unassigned_path(unassigned), :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
        <% end %>
    </table>
    <br />
        
    <%= link_to 'Upload a Photo', upload_path %>
<% end %>
