<% content_for :main_content do %>

    <%= image_tag(@unassigned.file.url(:medium)) %>
    
    <p>
        <b>Latitude:</b>
        <%= @unassigned.latitude %>
    </p>
        
    <p>
        <b>Longitude:</b>
        <%= @unassigned.longitude %>
    </p>
        
    <%= render 'update' %>
        
    <%= link_to 'All Unassigned Photos', unassigneds_path %>
    
<% end %>
