<%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
            <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                    <li><span class="attr"><%= attr %></span> <%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field(:user_id, {:value => current_user.id}) %>
    <%=
        if not @photo.nil?
            f.hidden_field(:photo_id, {:value => @photo.id})
        elsif not @sight.nil?
            f.hidden_field(:sight_id, {:value => @sight.id})
        end
    %>
    <div class="field">
        <%= f.text_area(:comment, :rows => 5) %>
    </div>
    <div class="actions">
        <%= f.submit(:value => "Post comment") %>
    </div>
<% end %>
