<% content_for :body do %>

    <p>
        <h3>First Name:</h3>
        <%= @user.first_name %>
    </p>
    
    <p>
        <h3>Last Name:</h3>
        <%= @user.last_name %>
    </p>
    
    <p>
        <h3>E-mail:</h3>
        <%= @user.email %>
    </p>
    <br />
    <br />
    <%= link_to 'Account Settings', edit_user_path %> |
    <%= link_to 'My Photos', photos_path %>

<% end %>
