<% content_for :body do %>

    <p>
        <b>First Name:</b>
        <%= @user.first_name %>
    </p>
    
    <p>
        <b>Last Name:</b>
        <%= @user.last_name %>
    </p>
    
    <p>
        <b>email:</b>
        <%= @user.email %>
    </p>
    
    <%= link_to 'My Photos', photos_path %> |
    <%= link_to 'Account Settings', edit_user_path(@user) %>

<% end %>
