<% content_for :css do %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <%= stylesheet_link_tag("map") %>
    <%= stylesheet_link_tag "sights" %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag("https://maps.google.com/maps/api/js?sensor=false") %>
<% end %>

<% content_for :body do %>

    <script type="text/javascript">
        var lastOpened = null; // the last infowindow opened

		// adds circular radius to map
		function add_circle(map, cent, rad) {
		  var circle = new google.maps.Circle({
              radius: rad, center: cent, map: map, strokeWeight: 1
          });
		}

		// adds infowindows to the markers on the sight index
		function add_sight_index_infowindow(map, marker, bounds, contentString) {
          marker.infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 200 });

          // makes clicking on a marker popup the infowindow associated with it
          google.maps.event.addListener(marker, 'click', function() {
              if(lastOpened != null) lastOpened.infowindow.close();
              marker.infowindow.open(map,marker);
              lastOpened = marker;
          });
          // refits the map view when there arent any infoWindows open
          google.maps.event.addListener(marker.infowindow,'closeclick', function() {
              map.fitBounds(bounds);
              lastOpened = null;
          });
        }

        // adds sight markers to the map
        function add_marker(map, bounds, lat, lng, rad, title, contentString) { 
          var latlng = new google.maps.LatLng(lat, lng);

          bounds.extend(latlng);

          var marker = new google.maps.Marker({
              position: latlng,
              title: title,
              map: map
          });
		  add_circle(map, latlng, rad);
		  add_sight_index_infowindow(map, marker, bounds, contentString);  
        }
        
        $(document).ready(function() {
            <% if @sights.length == 0 %>
            // there are no sights, set the center to Champaign, IL
            var map = new google.maps.Map(document.getElementById("map-canvas"), {
                zoom: 18,
                center: new google.maps.LatLng(40.114044, -88.22485), 
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            <% else %>
            var bounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById("map-canvas"), {
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            <% @sights.each do |sight| %>
            var contentString = null;
              contentString = 
                '<b><%= sight.name %></b>' +
                '<div id="infoWindowDiv">' +
                  '<%= link_to(image_tag(sight.photos[0].file.url(:thumb)), sight_path(sight)) %>' +
                '</div>';
              add_marker( map, bounds,
                <%= sight.latitude %>, 
                <%= sight.longitude %>,
				<%= sight.radius %>,
                "<%= sight.name %>",
                contentString
              );
            map.fitBounds(bounds);
            <% end %>
            <% end %>
        });
    </script>
    
    <div id="map-canvas"></div>

<% end %>