<script type="text/javascript">
  function initialize() {
	var bounds = new google.maps.LatLngBounds ();
	var myOptions = { mapTypeId: google.maps.MapTypeId.ROADMAP };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	<% @sights.each do |sight| %>
	  var latlng = new google.maps.LatLng(<%= sight.latitude %>, <%= sight.longitude %>);
      bounds.extend (latlng);
	  var marker = new google.maps.Marker({ 
	    position: latlng, 
	    title:"<%= sight.name %>", map: map 		
	  });
	  var circle = new google.maps.Circle({
	    radius: <%= sight.radius %>, center: latlng, map: map, strokeWeight: 1
	  });
	  google.maps.event.addListener(marker, 'click', function() { 
	    window.location = '<%= sight_path sight %>';
		
	  });
	<% end	%>

	map.fitBounds (bounds);
  }
</script>

<h1>Listing sights</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Name</th>
    <th>Radius</th>
    <th></th>
    <th></th>
  </tr>

<% @sights.each do |sight| %>
  <tr>
    <td><%= sight.latitude %></td>
    <td><%= sight.longitude %></td>
    <td><%= sight.name %></td>
    <td><%= sight.radius %></td>
    <td><%= link_to 'Show', sight %></td>
    <td><%= link_to 'Destroy', sight, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="map_canvas" style="width:50%; height:50%"></div>

<br />

<%= if current_user
		link_to 'Logout', logout_path, :confirm => 'Are you sure?', :method => :delete 
	else
		link_to 'Login', login_path
	end
%>
