<h1>Listing sights</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Name</th>
    <th>Radius</th>
    <th></th>
    <th></th>
  </tr>

<% @sights.each do |sight| %>
  <tr>
    <td><%= sight.latitude %></td>
    <td><%= sight.longitude %></td>
    <td><%= sight.name %></td>
    <td><%= sight.radius %></td>
    <td><%= link_to 'Show', sight %></td>
    <td><%= link_to 'Destroy', sight, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= if current_user
		link_to 'Logout', logout_path, :confirm => 'Are you sure?', :method => :delete 
	else
		link_to 'Login', login_path
	end
%>
