<% content_for :css do %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <%= stylesheet_link_tag("map") %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag("https://maps.google.com/maps/api/js?sensor=false") %>
<% end %>

<% content_for :body do %>

    <script type="text/javascript">
        var lastOpened = null;
        function add_marker(map, bounds, lat, lng, name, rad, contentString) { 
          var latlng = new google.maps.LatLng(lat, lng);
          bounds.extend(latlng);

          var marker = new google.maps.Marker({
              position: latlng,
              title: name,
              map: map
          });

          var circle = new google.maps.Circle({
              radius: rad, center: latlng, map: map, strokeWeight: 1
          });
          
          marker.infowindow = new google.maps.InfoWindow({ content: contentString });

          google.maps.event.addListener(marker, 'click', function() {
              if(lastOpened != null) lastOpened.infowindow.close();
              marker.infowindow.open(map,marker);
              lastOpened = marker;
          });
          google.maps.event.addListener(marker.infowindow,'closeclick', function() {
              map.fitBounds(bounds);
              lastOpened = null;
          });
        }

        $(document).ready(function() {
            var bounds = new google.maps.LatLngBounds();
            var myOptions = { mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var contentString = null;
            <% @sights.each do |sight| %>
              contentString = 
                '<b><%= sight.name %></b>' +
                '<div id="infoWindowDiv">' +
                  '<%= link_to(image_tag(sight.photos[0].file.url(:thumb)), sight_path(sight)) %>' +
                '</div>';
              add_marker( map, bounds,
                <%= sight.latitude %>, 
                <%= sight.longitude %>,
                "<%= sight.name %>",
                <%= sight.radius %>,
                contentString
              );
            <% end %>
            
            map.fitBounds (bounds);
        });
    </script>
    
    <h1>Listing sights</h1>
    
    <table>
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Name</th>
            <th>Radius</th>
            <th></th>
            <th></th>
        </tr>
        
        <% @sights.each do |sight| %>
            <tr>
                <td><%= sight.latitude %></td>
                <td><%= sight.longitude %></td>
                <td><%= sight.name %></td>
                <td><%= sight.radius %></td>
                <td><%= link_to 'Show', sight %></td>
                <td><%= link_to 'Destroy', sight, :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
        <% end %>
    </table>
    
    <div id="map_canvas"></div>
    
    <br />

<% end %>
