<% content_for :css do %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <%= stylesheet_link_tag("map") %>
    <%= stylesheet_link_tag "sights" %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag("https://maps-api-ssl.google.com/maps/api/js?sensor=false") %>
	<%= javascript_include_tag("maps") %>
<% end %>

<% content_for :body do %>

    <script type="text/javascript">
    
        var geocoder = new google.maps.Geocoder();
        var champaign = new google.maps.LatLng(40.114044, -88.22485);
        var map;
    
        $(document).ready(function() {
            
            // set the center to Champaign, IL
            map = new google.maps.Map(document.getElementById("map-canvas"), {
                zoom: 3,
                center: champaign, 
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            		
			<% @sights.each do |sight| %>
   			add_sight_marker(<%= sight.id %>, map);
			<% end %>

            // Set up the search box
            $("#jump-submit").click(function() {
                var query = $("#jump-to").val();
                if (query == "") {
                    return;
                }
                
                $("#spinner").show();
                geocoder.geocode({"address": query}, function(results, status) {
                    $("#spinner").hide();
                    if (status == google.maps.GeocoderStatus.OK) {
                        var location = results[0].geometry.location;
                        map.setCenter(location);
                        map.setZoom(15);
                    } else {
                        alert("Could not find the given location");
                    }
                });
            });
        });
    </script>
    
    <div id="jump-to-box">
        <label>Jump to</label>
        <input id="jump-to" size="40" type="text">
        <input id="jump-submit" type="submit" value="Go">
        <img id="spinner" src="/images/spinner.gif" />
    </div>
    <div id="map-canvas"></div>

<% end %>
