<% content_for :css do %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <%= stylesheet_link_tag("sight") %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag("https://maps-api-ssl.google.com/maps/api/js?sensor=false") %>
	<%= javascript_include_tag("maps") %>
<% end %>

<% content_for :body do %>

    <script type="text/javascript">
        var lastOpened = null; // the last opened infowindow
		
        $(document).ready(function() {
            var cent = new google.maps.LatLng(<%= @sight.latitude %>, <%= @sight.longitude %>);
            var map = new google.maps.Map(document.getElementById("map-canvas"), {
                zoom: 16,
                center: cent,
                mapTypeId: google.maps.MapTypeId.HYBRID
            });
            var circle = new google.maps.Circle({
                radius: <%= @sight.radius %>,
                center: cent,
                map: map,
                strokeWeight: 1
            });
            var contentString;

			<% @sight.photos.each do |photo| %>
				$.getJSON("/photos/"+<%= photo.id %>, function(json) {

				var contentString = "<b>Photo "+json.id+"</b>" +
					"<div id= 'infoWindowDiv'>" +
						"<a href=/photos/"+json.id+">";
							if (json.thumbnail != null) {
								contentString += "<img src="+json.thumbnail+">";
							} else {
								contentString += "Photo Unavailable";
							} contentString +=
						"</a>" +
					"</div>"; 
				add_photo_marker(map, json.latitude, json.longitude, cent, contentString, lastOpened);
				});
			<% end %>
        });
    </script>   
	
    <div id="align-container">
        <div id="content">
            <div id="map-block">
                <h1>Sight: <%= @sight.name %></h1>
                <div id="map-canvas"></div>
            </div>
            
            <div id="sight-info-comments-block" class="content-block">
	            <div id="sight-info">
                    
                    <div id="sight-tags">
                        Tags:
                        <% @sight.tags.each do |tag| %>
                            <%= link_to(tag.tag, tag_path(tag)) %>
                        <% end %>
                        <% if current_user %>
                        <%= render 'tags/form' %>
                        <% end %>
                    </div>
                </div>
	            <div id="comment-container">
                    <div id="comment-box">
                        <% if current_user %>
                        <%= render 'comments/form' %>
                        <% end %>
                    </div>
                    <div id="comment-list">
                        <% @sight.comments.each do |comment| %>
                            <div class="comment">
                                <%= comment.comment %>
                                <br>
                                    <%= link_to(comment.user.user_name, user_path(comment.user)) %> on <%= comment.date %> at <%= comment.time %>
                                <br>
                            </div>
                        <% end %>
                    </div>
	            </div>
            </div>
        </div>
        <div id="sidebar">       
            <div id="user-photo-list" class="content-block">
            <h1>Photos in <%= @sight.name %>:</h1>
                <% @sight.photos.each do |photo| %>
                    <div class="user-photo-row">
                        <div class="user-photo">
                            <%= link_to(image_tag(photo.file.url(:small)), photo_path(photo)) %>
                        </div>                      
                        <div class="user-photo-info">
                        Uploaded by:
                        <%= photo.user.user_name %>
                        <br>
                        Tags:
                        <% if photo.tags.length == 0 %>
                            None
                            <% else %>
                                <% photo.tags.each do |tag| %>
                                <%= link_to(tag.tag, tag_path(tag)) %>
                            <% end %>
                        <% end %>
                        </div>
                    </div>
                <% end %>
            <div style="clear:both;"></div>
            </div>          
        </div>
    </div>

<% end %>
