<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @sight.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @sight.longitude %>
</p>

<p>
  <b>Name:</b>
  <%= @sight.name %>
</p>

<p>
  <b>Radius:</b>
  <%= @sight.radius %>
</p>

<%= link_to 'Ratings', sight_sight_ratings_path(@sight) %> |
<%= link_to 'Comments', sight_sight_comments_path(@sight) %> |
<%= link_to 'Photos', sight_photos_path(@sight) %> |
<%= link_to 'Edit', edit_sight_path(@sight) %> |
<%= link_to 'Back', sights_path %> |
<%= if current_user
		link_to 'Logout', logout_path, :confirm => 'Are you sure?', :method => :delete 
	else
		link_to 'Login', login_path
	end
%>
