<script type="text/javascript">
  function initialize() {
	var bounds = new google.maps.LatLngBounds ();
    var latlng = new google.maps.LatLng(<%= @sight.latitude %>, <%= @sight.longitude %>);
    var myOptions = { zoom: 19, center: latlng, mapTypeId: google.maps.MapTypeId.HYBRID };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	var circle = new google.maps.Circle({
	  radius: <%= @sight.radius %>, center: latlng, map: map, strokeWeight: 1
	});
	
	<% @sight.photos.each_with_index do |photo, i| %>
	  var latlng = new google.maps.LatLng(<%= photo.latitude %>, <%= photo.longitude %>);
	  bounds.extend(latlng);
	  var marker = new google.maps.Marker({
		position: latlng, 
	    title:"Photo <%= i+1 %>", map: map 		
	  });

	var contentString = '<b>Photo <%= i+1 %></b>';

	var infowindow = new google.maps.InfoWindow({ content: contentString });

	google.maps.event.addListener(marker, 'click', function() {
  	  infowindow.open(map,marker);
	});
	<% end	%>
	//map.fitBounds(bounds);
  }
</script>

<div id="map_canvas" style="width:50%; height:50%"></div>

<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @sight.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @sight.longitude %>
</p>

<p>
  <b>Name:</b>
  <%= @sight.name %>
</p>

<p>
  <b>Radius:</b>
  <%= @sight.radius %>
</p>

<%= link_to 'Ratings', sight_sight_ratings_path(@sight) %> |
<%= link_to 'Comments', sight_sight_comments_path(@sight) %> |
<%= link_to 'Photos', sight_photos_path(@sight) %> |
<%= link_to 'Back', sights_path %> |
<%= if current_user
		link_to 'Logout', logout_path, :confirm => 'Are you sure?', :method => :delete 
	else
		link_to 'Login', login_path
	end
%>
