<%= form_tag(unassigned_path(@unassigned), :method => "put") do |f| %>

    <% if not @photo.nil? && @photo.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
            
            <ul>
                <% @photo.errors.each do |attr, msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <%= f.hidden_field(:user_id, current_user.id) %>
    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :radius %><br />
        <%= f.text_field :radius %>
    </div>
    <div class="field">
        <%= f.label :possible_sights %><br />
        <%= f.select(:old_sight_id, options_for_select(@possible_sights)) %>
    </div> 
    <div class="actions">
        <%= f.submit "Submit" %>
    </div>
<% end %>
