<% content_for :main_content do %>

    <%= image_tag(@photo.file.url(:medium)) %>
    
    <p>
        <b>Latitude:</b>
        <%= @photo.latitude %>
    </p>
        
    <p>
        <b>Longitude:</b>
        <%= @photo.longitude %>
    </p>
        
    <%= render 'update' %>
        
    <%= link_to 'All Unassigned Photos', unassigned_index_path %>
    
<% end %>
