<% content_for :body do %>
    
    <% @tags.each do |tag| %>
		

		<p>
		    <h1><%= link_to(tag.tag, tag_path(tag)) %></h1>
		</p>
		
		<table>
		    <tr>
		        <th></th>
		        <th></th>
		    </tr>
		
			<% tag.sights.each do |sight| %>
		        <tr>
		            <td><%= link_to sight.name, sight %></td>
		            <td><%= number_with_precision(sight.latitude, :precision => 2) %></td>
		            <td><%= number_with_precision(sight.longitude, :precision => 2) %></td>
		            <td><%= sight.radius %></td>
		        </tr>
		        </tr>
		    <% end %>
	
		    <% tag.photos.each do |photo| %>
		        <tr>
		            <td><%= link_to image_tag(photo.file.url(:thumb)), photo_path(photo) %></td>
		        </tr>
		    <% end %>
		</table>
		
		<br />
	<% end %>
<% end %>
