<%= form_tag(temp_photo_path(@photo), :method => "put") do |f| %>

  <div class="field">
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <%= label_tag :radius %><br />
    <%= text_field_tag :radius %>
  </div>
  <div class="field">
    <%= label_tag :possible_sights %><br />
    <%= select_tag(:old_sight_id, options_for_select(@possible_sights)) %>
  </div> 
  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
