<% content_for :main_content do %>
<h1>Listing sight_comments</h1>

<table>
  <tr>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sight_comments.each do |sight_comment| %>
  <tr>
    <td><%= sight_comment.comment %></td>
    <td><%= link_to 'Show', sight_sight_comment_path(@sight, sight_comment) %></td>
    <td><%= link_to 'Edit', edit_sight_sight_comment_path(@sight, sight_comment) %></td>
    <td><%= link_to 'Destroy', sight_sight_comment_path(@sight, sight_comment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sight comment', new_sight_sight_comment_path %>
<%= link_to 'Back', sight_path(@sight) %>
<% end %>
