<% content_for :main_content do %>
<h1>Listing photo_tags</h1>

<table>
  <tr>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photo_tags.each do |photo_tag| %>
  <tr>
    <td><%= photo_tag.tag %></td>
    <td><%= link_to 'Show', sight_photo_photo_tag_path(@sight, @photo, photo_tag) %></td>
    <td><%= link_to 'Edit', edit_sight_photo_photo_tag_path(@sight, @photo, photo_tag) %></td>
    <td><%= link_to 'Destroy', sight_photo_photo_tag_path(@sight, @photo, photo_tag), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo tag', new_sight_photo_photo_tag_path(@sight, @photo) %> | 
<%= link_to 'Back', sight_photo_path(@sight, @photo) %>
<% end %>
