<h1>Listing photo_tags</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photo_tags.each do |photo_tag| %>
  <tr>
    <td><%= photo_tag.photo_id %></td>
    <td><%= photo_tag.body %></td>
    <td><%= link_to 'Show', photo_tag %></td>
    <td><%= link_to 'Edit', edit_photo_tag_path(photo_tag) %></td>
    <td><%= link_to 'Destroy', photo_tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo tag', new_photo_tag_path %>
