<% content_for :body do %>

    <%= image_tag(@photo.file.url(:medium)) %>
    
    <p>
        <b>Latitude:</b>
        <%= number_with_precision(@photo.latitude, :precision => 2) %>
    </p>
        
    <p>
        <b>Longitude:</b>
        <%= number_with_precision(@photo.longitude, :precision => 2) %>
    </p>
        
    <%= render 'edit' %>
        
    <%= link_to 'Return to Home', home_path %>
    
<% end %>
