<h1>Listing photos</h1>

<table>
  <tr>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= image_tag(photo.file.url(:thumb)) %></td>
    <td><%= link_to 'Show', sight_photo_path(@sight, photo) %></td>
    <td><%= link_to 'Edit', edit_sight_photo_path(@sight, photo) %></td>
    <td><%= link_to 'Destroy', sight_photo_path(@sight, photo), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_sight_photo_path(@sight) %> |
<%= link_to 'Back', sight_path(@sight) %>
