<% content_for :css do %>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <%= stylesheet_link_tag("map") %>
    <%= stylesheet_link_tag "photo" %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag("https://maps-api-ssl.google.com/maps/api/js?sensor=false") %>
<% end %>

<% content_for :body do %>
    <script type="text/javascript">
        var lastOpened = null; // the last opened infowindow
        // adds photo markers to the map
        function add_marker(map, lat, lng, contentString) {
            var latlng = new google.maps.LatLng(lat, lng);

            var marker = new google.maps.Marker({
                position: latlng,
                map: map
            });
            
            marker.infowindow = new google.maps.InfoWindow({
                content: contentString, maxWidth: 200
            });

            // pops up an infowindow when you click on a marker
            google.maps.event.addListener(marker, 'click', function() {
                if(lastOpened != null) {
                    lastOpened.infowindow.close();
                    marker.infowindow.open(map,marker);
                    lastOpened = marker;
                }
            });
            // recenters map when you close an infowindow
            google.maps.event.addListener(marker.infowindow,'closeclick', function() {
                map.setCenter(new google.maps.LatLng(lat, lng));
                lastOpened = null;
            });
        }

        $(document).ready(function() {
            var center = new google.maps.LatLng(<%= @photo.latitude %>, <%= @photo.longitude %>);
            var map = new google.maps.Map(document.getElementById("map-canvas"), {
                zoom: 15,
                center: center,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            <% if @photo.sights.length == 0 %>
            var contentString =
            '<div id="infoWindowDiv">'+
            '<%= link_to image_tag(@photo.file.url(:thumb)), photo_path(@photo) %>'+
            '</div>';
            add_marker( map, <%= @photo.latitude %>, <%= @photo.longitude %>, contentString);
            <% else %>
            <% photos = [] %>
            <% @photo.sights.each do |sight| %>
            var circle = new google.maps.Circle({
                radius: <%= sight.radius %>, center: center, map: map, strokeWeight: 1
            });
            <% photos = photos | sight.photos %>
            <% end %>
            var contentString = "";
            <% photos.each_with_index do |photo, i| %>
            contentString =
            '<div id="infoWindowDiv">'+
            '<%= link_to image_tag(photo.file.url(:thumb)), photo_path(photo) %>'+
            '</div>';
            add_marker( map, <%= photo.latitude %>, <%= photo.longitude %>, contentString);
            <% end %>
            <% end %>
        });
    </script>

    <div id="align-container">
        <div id="content">
            <div id="photo-container">
                <div id="photo">
                    <%= image_tag(@photo.file.url(:medium)) %>
                </div>
                <div id="photo-info">
                    Uploaded by: <%= link_to(@photo.user.user_name, user_path(@photo.user)) %>
                    <br />
                    <div id="photo-sights">
                        Sights:
                        <% @photo.sights.each do |sight| %>
                        <%= link_to(sight.name, sight_path(sight)) %>
                        <% end %>
                    </div>
                    <div id="photo-tags">
                        Tags:
                        <% @photo.tags.each do |tag| %>
                        <%= link_to(tag.tag, tag_path(tag)) %>
                        <% end %>
                        <%= render 'tags/form' %>                    
                    </div>
                </div>
            </div>
            
            <div id="comment-container">
                <div id="comment-box">
                    <%= render 'comments/form' %>
                </div>
                <div id="comment-list">
                    <% @photo.comments.each do |comment| %>
                        <div class="comment">
                            <%= comment.comment %>
                            <br>
                            <%= link_to(comment.user.user_name, user_path(comment.user)) %> on <%= comment.date %> at <%= comment.time %>
                            <br>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
            
        <div id="sidebar">
            <div id="map-canvas"></div>         
            <div style="other-photos">
                <div id="user-photo-list">
                    <h3>Other Photos by <%= @photo.user.user_name %></h3>
                    <% @photo.user.photos.each do |photo| %>
                    <div class="user-photo">
                        <%= link_to(image_tag(photo.file.url(:thumb)), photo_path(photo)) %>
                    </div>
                    <% end %>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
<% end %>
