<p id="notice"><%= notice %></p>

<%= image_tag(@photo.file.url) %>

<%= link_to 'Tags', sight_photo_photo_tags_path(@sight, @photo) %> |
<%= link_to 'Comments', sight_photo_photo_comments_path(@sight, @photo) %> |
<%= link_to 'Edit', edit_sight_photo_path(@sight, @photo) %> |
<%= link_to 'Back', sight_photos_path(@sight) %>
