<% content_for :css do %>
    <%= stylesheet_link_tag "photos_show" %>
<% end %>

<% content_for :main_content do %>

    <p id="notice"><%= flash[:notice] %></p>
    
    <div id="content">
        <div id="photo-container">
            <div id="photo">
                <%= image_tag(@photo.file.url) %>
            </div>
            <div id="photo-info">
                Uploaded by: <%= link_to(@photo.user.user_name, user_path(@photo.user)) %>
                <div id="photo-tags">
                    Tags:
                    <% @tags.each do |tag| %>
                        <%= link_to(tag.tag, tag_path(photo_tag)) %>
                    <% end %>
                    <%= render 'tag_form' %>
                </div>
            </div>
        </div>
    
        <div id="comment-container">
            <div id="comment-box">
                <%= render 'comment_form' %>
            </div>
            <div id="comment-list">
                <% @comments.each do |comment| %>
                    <div class="comment">
                        <%= comment.comment %>
                        <br>
        -                <%= link_to(comment.user.user_name, user_path(comment.user)) %> on <%= comment.date %> at <%= comment.time %>
                        <br>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    
    <div id="sidebar">
        <div id="gmap">
        </div>
        <div id="sight-photo-list">
            <% @photos.each do |photo| %>
                <div class="sight-photo">
                    <%= link_to(image_tag(photo.file.url), sight_photo_path(@sight, photo)) %>
                </div>
            <% end %>
        </div>
    </div>

<% end %>
