<h1>Listing photo_comments</h1>

<table>
  <tr>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photo_comments.each do |photo_comment| %>
  <tr>
    <td><%= photo_comment.body %></td>
    <td><%= link_to 'Show', photo_comment %></td>
    <td><%= link_to 'Edit', edit_photo_comment_path(photo_comment) %></td>
    <td><%= link_to 'Destroy', photo_comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo comment', new_photo_comment_path %>
