<% content_for :main_content do %>
<h1>Listing photo_comments</h1>

<table>
  <tr>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photo_comments.each do |photo_comment| %>
  <tr>
    <td><%= photo_comment.comment %></td>
    <td><%= link_to 'Show', sight_photo_photo_comment_path(@sight, @photo, photo_comment) %></td>
    <td><%= link_to 'Edit', edit_sight_photo_photo_comment_path(@sight, @photo, photo_comment) %></td>
    <td><%= link_to 'Destroy', sight_photo_photo_comment_path(@sight, @photo, photo_comment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo comment', new_sight_photo_photo_comment_path(@sight, @photo) %> | 
<%= link_to 'Back', sight_photo_path(@sight, @photo) %>
<% end %>
